<template>
  <div id="diceroll">
    <button @click="roleNumber(); countNumber()">Roll </button>
      <table>
          <thead>
              <tr>
                <th>Dice number</th>
                <th>Frequency</th> 
              </tr>
          </thead>

              <tbody>
                  <tr v-for="(value, key, index) in count" :key='index'>
                      <td>{{key}}</td>
                        <td>{{value}}</td>
                  </tr>
              </tbody>
        </table>
  </div>  
</template>

<script>
 
  export default {
    
    name: "Dice",

    data: () => {

          return {
          
              diceroll: [],
              count: {1: 0, 2: 0, 3: 0, 4: 0, 5: 0, 6: 0}
          };

    },
    
   methods: {

        roleNumber: function() {

            this.diceroll = Array.from({length: 8 }, () => Math.floor(Math.random() * 6) + 1);
         
    },

        countNumber: function() {

            let rolled = this.diceroll;
            let counting = this.count;

            for (let number in counting) {
                const countNumber = rolled.filter(val => val == number).length; 
                counting[number] = countNumber;

  
    }
    }
        
    }
   
    };
 
</script>
