<template>
  <Dice></Dice>
</template>

<script>

import Dice from "./components/Dice.vue";

export default {
   
   name: 'dobbelsteen',
   
   components: { Dice },

  data () {

    return {

    }

  }


  }

</script>

<style>

 table, th, td {
    border: 1px solid black;
  }

</style>
